/*
* @Author: Administrator
* @Date:   2018-02-02 11:11:06
* @Last Modified by:   Administrator
* @Last Modified time: 2018-02-02 11:18:06
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}